@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(12, 67, 144), rgb(17, 193, 175));
    width:65vmin;
    height:90vmin;
    border:2px solid black;
    display:grid;
    grid-template-rows: repeat(18,1fr) ;
    grid-template-columns: repeat(18,1fr);
}

.head{
    background:linear-gradient(rgb(6, 14, 231),rgb(172, 7, 218));
    border: .25vmin solid white;
    border-radius: 10px;
    scale: 1;
}

.snake{
    background:linear-gradient(rgb(9, 238, 238),rgb(195, 11, 232));
    border:.25vmin solid white;
    border-radius:20px;
    scale: .50;
}

.food{
    background:linear-gradient(rgb(247, 0, 255), rgb(139, 65, 82));
    border:.25vmin solid black;
    border-radius: 8px;
}